* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.page1 {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 185, 100);
    display: flex;
    align-items: center;
    justify-content: center;
}

.page2 {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 252, 100);
    display: flex;
    align-items: center;
    justify-content: center;
}

.page3 {
    height: 100%;
    width: 100%;
    background-color: rgb(157, 223, 35);
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: rgb(32, 32, 32);
    position: relative;
}

.dot {
    background-color: rgb(248, 85, 112);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 75%;
    /* z-index: 4; */

}